body{
  color: white;
  background-color: black;
  font-family: 'Georgia', serif;}

header {
  text-align:center;
  font-size: 5em;
  color: rgb(250, 255, 255);
  text-shadow: 3px 2px rgb(8, 7, 7);
  font-weight: bold;
  background-image: url("https://images.unsplash.com/photo-1508253730651-e5ace80a7025?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  border: 5px solid grey;
  margin-bottom: 20px;
  padding: 50px;
}

img {
  width: 50%;
  display:block;
  margin:auto;
  border: 2px solid white;
}

.card-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
}
.card {
  width: 25%;
  text-align:center;
  margin:auto;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
.card:hover {
  box-shadow: 2px 2px 2px lightgrey;
  background-color: grey;
}
.filter-container {
  display:flex;
  justify-content: space-between;
  margin: 30px;
}
input {
  background-color: white;
  font-size: 16px;
}

select {
  border-color:white;
  display:block;
  margin: 10px;
  font-size: 20px;
}